<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilded Rose: items</title>
</head>
<body>
    <a href="addItems.html">ADD ITEM</a>
    <h3>DELETE Item</h3>
    <form action='' method="POST" id="del_item">
        <label for="item_name">Item Name</label>
        <input type="text" name="item_name" id="item_name_del" required>
        <label for="item_sell_in">Item Sell In</label>
        <input type="text" name="item_sell_in" id="item_sell_in_del" required>
        <label for="item_quality">Item Quality</label>
        <input type="text" name="item_quality" id="item_quality_del" required>
        <input type="submit" value="DELETE Item" onclick="delItem()">
    </form>
    <script src="items.js"></script>
</body>
</html>