<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilded Rose</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header></header>
    <h1>Bienvenido sr. Ollivanders</h1>
    <div class="menu">
        <div class="menu-btn"><a href="http://83.43.18.10:5500/wellcome">Wellcome</a></div>
        <div class="menu-btn"><a href="http://83.43.18.10:5500/items">Items</a></div>
    </div>
    <footer></footer>
</body>
</html>